body{
  color: #333;
  position: relative;
}
section{
  margin: 10px;
}

.center{
  text-align: center;
}

a{
  cursor: pointer;
}

/*bootstrap styles*/

strong[data-toggle="collapse-next"]{
  cursor: pointer;
}
strong[data-toggle="collapse-next"]:hover{
  text-decoration: underline;
}
ul{
  list-style: none;
}

li{
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, 0);
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-default {
  color: #333;
  background-color: #FFF;
  border-color: #CCC;
}

.btn-info {
  color: #FFF;
  background-color: #37C5F1;
  border-color: #46B8DA;
}

.btn-primary {
  color: #FFF;
  background-color: #428BCA;
  border-color: #357EBD;
}

.btn-warning {
  color: #FFF;
  background-color: #F0AD4E;
  border-color: #EEA236;
}

.btn-lg{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.fr{
  float: right;
}

.btn-lh{
  line-height: 35px;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.ib{
  display: inline-block;
}

.module{
  background-color: #F1F1F1;
  border-radius: 10px;
  margin-top: 20px;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical>.btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
  clear: both;
}

/* bootstrap styles */


#waiting_dialogue, #accepted_dialogue, #denied_dialogue{
  text-align: center;
  padding: 10px 0;
  z-index: 2;
  overflow: hidden;
}


#waiting_dialogue{
  background-color: #FCF8E3;
  font-weight: bold;
  color: #929292;
}

#accepted_dialogue{
  font-weight: bold;
  color: #fff;
  background-color: #37C5F1;
  height: 40px;
  display: none;
}
#denied_dialogue{
  background-color: #F2DEDE;
  text-align: left;
  display: none;
}


#waiting_dialogue, #accepted_dialogue{
  position: fixed;
  top: 0px;
  width: 100%;
}

.denied_header{
  font-weight: bold;
  margin-left: 20px;
}

#denied_dialogue li{
  margin-bottom: 15px;
}

.effect {
  position: absolute;
  top: -110%;
  left: -210%;
  width: 100%;
  height: 300%;
  opacity: 0;

  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0.7) 86%, rgba(255,255,255,0.3) 93%, rgba(255,255,255,0.26) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.1)), color-stop(86%,rgba(255,255,255,0.7)), color-stop(93%,rgba(255,255,255,0.3)), color-stop(94%,rgba(255,255,255,0.26)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);

  -webkit-transition-property: left, top, opacity;
     -moz-transition-property: left, top, opacity;
      -ms-transition-property: left, top, opacity;
       -o-transition-property: left, top, opacity;
          transition-property: left, top, opacity;
  -webkit-transition-duration: 1.5s, 1.5s, 0.1s;
     -moz-transition-duration: 1.5s, 1.5s, 0.1s;
      -ms-transition-duration: 1.5s, 1.5s, 0.1s;
       -o-transition-duration: 1.5s, 1.5s, 0.1s;
          transition-duration: 1.5s, 1.5s, 0.1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* Hover state - trigger effect */

.effect.active {
  opacity: 1;
  top: -110%;
  left: 170%;
}
.whatever{

  /*skinny one*/
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.7) 86%, rgba(255,255,255,0.3) 93%, rgba(255,255,255,0.26) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0.1)), color-stop(86%,rgba(255,255,255,0.7)), color-stop(93%,rgba(255,255,255,0.3)), color-stop(94%,rgba(255,255,255,0.26)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  /*fat one*/
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 29%, rgba(255,255,255,0.81) 93%, rgba(255,255,255,0.69) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(29%,rgba(255,255,255,0.1)), color-stop(93%,rgba(255,255,255,0.81)), color-stop(94%,rgba(255,255,255,0.69)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* W3C */

}

#input, #previous{
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
}

#previous{
  opacity: 0.6;
}

.header{
  margin: 25px 0 5px 0;
}

.commands{
  margin-top: 60px;
}

.dl-horizontal{
  font-size: 15px;
}

.dl-horizontal dt {
  float: left;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.dl-horizontal dd {
  min-height: 18px;
}

dt, dd{
  margin-bottom: 10px;
}

.panel-heading{
  cursor: pointer;
}
.panel-heading:hover{
  text-decoration: underline;
}

.panel-no-margin{
  margin: 0;
}

.overlay{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  text-align: center;
  padding-top: 50px;
  font-weight: bold;
  background-color: #F7F7F7;
  font-size: 20px;
  z-index: 1;
}

#chevron {
  display: none;
  position: absolute;
  text-align: center;
  height: 70px;
  width: 160px;
  top: -30px;
  left: -3px;
}

#chevron span{
  position: relative;
  top: 36px;
  left: -44px;
  font-size: 21px;
  z-index: 1;
}

#chevron:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #37F1D3;
  -webkit-transform: skew(-30deg, 0deg);
  -moz-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  -o-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

/************* OPTIONS PAGE *****************/
.pro_locked{
  display: none;
  margin-left: 10px;
  font-size: 15px;
}

.pro_msg{
  height: 25px;
}

.cust_cmd_2{
  margin-left: 10px;
}

.option-logo{
  margin-right: 10px;
}

.options-header{
  line-height: 30px;
}

.options-header-text{
  position: relative;
  top: 5px;
}

/************* OPTIONS PAGE *****************/