body{
  color: #333;
  position: relative;
}
section{
  margin: 10px;
}

.center{
  text-align: center;
}

/*bootstrap styles*/

.dl-horizontal{
  font-size: 15px;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
}

.dl-horizontal dd {
  margin-left: 180px;
  min-height: 18px;
}

dt, dd{
  margin-bottom: 10px;
}

ul{
  list-style: none;
}

li{
  margin-bottom: 10px;
}
/* bootstrap styles */


#waiting_dialogue, #accepted_dialogue, #denied_dialogue{
  text-align: center;
  padding: 10px 0;
}


#waiting_dialogue{
  background-color: #FCF8E3;
  font-weight: bold;
  color: #929292;
}

#accepted_dialogue{
  font-weight: bold;
  color: #fff;
  background-color: #37C5F1;
  display: none;
  overflow: hidden;
}
#denied_dialogue{
  background-color: #F2DEDE;
  text-align: left;
  display: none;
}


#waiting_dialogue, #accepted_dialogue{
  position: fixed;
  top: 0px;
  width: 100%;
}

.denied_header{
  font-weight: bold;
  margin-left: 20px;
}

#denied_dialogue li{
  margin-bottom: 15px;
}

.effect {
  position: absolute;
  top: -110%;
  left: -210%;
  width: 100%;
  height: 300%;
  opacity: 0;

  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 40%, rgba(255,255,255,0.7) 86%, rgba(255,255,255,0.3) 93%, rgba(255,255,255,0.26) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,0.1)), color-stop(86%,rgba(255,255,255,0.7)), color-stop(93%,rgba(255,255,255,0.3)), color-stop(94%,rgba(255,255,255,0.26)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 40%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);

  -webkit-transition-property: left, top, opacity;
     -moz-transition-property: left, top, opacity;
      -ms-transition-property: left, top, opacity;
       -o-transition-property: left, top, opacity;
          transition-property: left, top, opacity;
  -webkit-transition-duration: 1.5s, 1.5s, 0.1s;
     -moz-transition-duration: 1.5s, 1.5s, 0.1s;
      -ms-transition-duration: 1.5s, 1.5s, 0.1s;
       -o-transition-duration: 1.5s, 1.5s, 0.1s;
          transition-duration: 1.5s, 1.5s, 0.1s;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* Hover state - trigger effect */

.effect.active {
  opacity: 1;
  top: -110%;
  left: 170%;
}
.whatever{

  /*skinny one*/
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 60%, rgba(255,255,255,0.7) 86%, rgba(255,255,255,0.3) 93%, rgba(255,255,255,0.26) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(60%,rgba(255,255,255,0.1)), color-stop(86%,rgba(255,255,255,0.7)), color-stop(93%,rgba(255,255,255,0.3)), color-stop(94%,rgba(255,255,255,0.26)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 60%,rgba(255,255,255,0.7) 86%,rgba(255,255,255,0.3) 93%,rgba(255,255,255,0.26) 94%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  /*fat one*/
  background: -moz-linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 29%, rgba(255,255,255,0.81) 93%, rgba(255,255,255,0.69) 94%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(29%,rgba(255,255,255,0.1)), color-stop(93%,rgba(255,255,255,0.81)), color-stop(94%,rgba(255,255,255,0.69)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0.1) 29%,rgba(255,255,255,0.81) 93%,rgba(255,255,255,0.69) 94%,rgba(255,255,255,0) 100%); /* W3C */

}

#input, #previous{
  font-weight: bold;
  font-size: 14px;
  margin-left: 20px;
}

#previous{
  opacity: 0.6;
}

.header{
  margin-bottom: 5px;
}

.commands{
  margin-top: 60px;
}